body {
  background-color: #282c34;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.title {
  color: #61dafb;

  font-size: 40px;
  font-weight: 600;
}

.tv-shows-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.tv-shows-box-title {
  color: white;
  font-size: 30px;
  padding-left: 5px;
  padding-bottom: 30px;
}

.tv-shows-box-content {
  display: flex;
  align-items: center;
}

.tv-show-card {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #bebebe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv-show-title {
  text-align: center;
  padding: 10px 0;
}

.tv-show-img {
  width: 182px;
  height: 268px;
}

.photo-holder {
  width: 182px;
  height: 268px;
  display: flex;
}

.photo-holder-img {
  margin: auto;
}

/* general link style */
a {
  color: white;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}